    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-image: url(background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .form1 {
        border: 2px solid green;
        height: fit-content;
        width: 320px;
        border-radius: 10px;
        margin-left: 45%;
    }
    
    .form2 {
        border: 2px solid green;
        height: 350px;
        width: 320px;
        border-radius: 10px;
        margin-left: 37%;
        margin-top: 40px;
    }
    
    .head {
        color: rgb(10, 8, 8);
    }
    
    .form {
        border: 2px solid green;
        margin: 10px;
        height: 380px;
        width: 320px;
        border-radius: 10px;
        margin-left: 37%;
    }
    
    h3 {
        text-align: center;
    }
    
    .input {
        margin: 15px;
        padding: 10px;
        margin-bottom: 10px;
        padding-bottom: 15px;
    }
    
    label {
        margin-left: 15px;
    }
    /*.email {
        margin-bottom: 10px;
    }
    
    .password {
        margin-bottom: 10px;
    }
    
    */
    
    input {
        height: 25px;
        width: 250px;
        border: 2px solid;
        border-color: green;
        border-radius: 30px;
    }
    
     ::placeholder {
        padding: 20px;
    }
    
    input[type="checkbox"] {
        accent-color: green;
    }
    
    .check {
        margin-top: 1px;
    }
    
    .checked {
        width: 20px;
    }
    
    button {
        width: 260px;
        height: 30px;
        border: 2px solid;
        border-color: green;
        border-radius: 30px;
        background-color: green;
        color: white;
        margin-top: 15px;
    }
    
    button:hover {
        font-style: italic;
        text-align: center;
        border-radius: 30px;
        cursor: pointer;
    }
    
    a {
        color: green;
    }